<div class="container-xl mt-3">
    <div class="mb-5 ml-3">
        <h2>我的应用</h2>
    </div>
    <div id="group-list">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto">
                        <form (submit)="search($event)" [formGroup]="searchForm">
                            <div class="d-flex">
                                <div><input type="text" class="form-control" id="searchPrefix"
                                        formControlName="searchPrefix"></div>
                                <div><button type="submit" class="btn btn-info form-control ml-2">搜索</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="pr-2 dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{(svc.selectedSortType | async).desc}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let c of svc.sortTypes" class="dropdown-item"
                                (click)="svc.setSortType(c)">{{c.desc}}</a>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDropNewApp" type="button" class="btn btn-success dropdown-toggle"
                            [disabled]="account.perm('应用:修改') | async"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            新建应用
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDropNewApp">
                            <a class="dropdown-item" (click)="onNewBtnClick('Tomcat')">Tomcat</a>
                            <a class="dropdown-item" (click)="onNewBtnClick('JavaServer')">JavaServer</a>
                            <a class="dropdown-item" (click)="onNewBtnClick('Command')">Command</a>
                        </div>
                    </div>
                </div>
            </li>
            <li *ngFor="let a of svc.appList | async;index as i;" class="list-group-item">
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <a (click)="onViewBtnClick(a)" class="btn btn-link p-0 m-0">
                            <strong>{{a.apptag}}</strong>
                            <span [hidden]="!a.deleted" class="text-danger"> (待删除)</span>
                        </a>
                        <p>{{a.appType.name}} : {{a.description}}</p>
                    </div>
                    <div class="p-1 mt-1">
                        <button type="button" class="btn btn-sm"
                            [class]="a.deleted?'btn-outline-success':'btn-outline-danger'"
                            [disabled]="account.perm('应用:修改') | async"
                            (click)="onDelBtnClick(a)">{{a.deleted?'恢复':'删除'}}</button>
                    </div>
                    <div class="p-1 mt-1">
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                            [disabled]="account.perm('应用:修改') | async" (click)="onEditBtnClick(a)">编辑</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>