<div id="groups-contain" class="container-xl mt-3">
    <div id="group-head" class="mb-5">
        <h1>应用配置</h1>
    </div>
    <ng-template #formInfoIcon>
        <svg width="18" height="18" viewBox="0 0 18 18" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
    </ng-template>
    <form (submit)="save($event)" [formGroup]="editSvc.appForm|async">
        <div class="row form-group">
            <div class="col-lg-6 col-md-6 form-group mb-4">
                <label for="apptag">应用短名
                    <ng-template #apptagPopContent>这是一个很基础的参数，系统会用这个名字创建Linux用户、SVN仓库、创建Haproxy节点名等</ng-template>
                    <span class="mx-1" [ngbPopover]="apptagPopContent">
                        <ng-container *ngTemplateOutlet="formInfoIcon"></ng-container>
                    </span>
                    <span class="text-danger" *ngIf="(editSvc.apptag|async)?.errors?.required">*</span>
                    <span class="text-danger" *ngIf="(editSvc.apptag|async)?.errors?.minlength || (editSvc.apptag|async)?.errors?.maxlength">(长度4至30)</span>
                </label>
                <input type="text" id="apptag" formControlName="apptag" class="form-control" placeholder="以字母开头，由字母与下划线组成">
            </div>
            <div class="col-lg-6 col-md-6 form-group mb-4">
                <label for="deployPath">应用发布目标路径
                    <ng-template #deployPathPopContent>发布时系统自动将文件更新到这个目录下，如果你到服务器上手工修改了其中的文件，请记得提交，或在发布前revert回原来的版本，SVN在检测到目标目录中有改动将会停止操作，以防止与SVN库中的版本发生意外的合并或冲突</ng-template>
                    <span class="mx-1" [ngbPopover]="deployPathPopContent">
                        <ng-container *ngTemplateOutlet="formInfoIcon"></ng-container>
                    </span>
                    <span class="text-danger" *ngIf="(editSvc.deployPath|async)?.invalid">(长度4至128)</span>
                </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{editSvc.deployPathAddon|async}}</span>
                    </div>
                    <input type="text" id="deployPath" formControlName="deployPath" class="form-control" placeholder="建议设置为应用短名">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 form-group mb-4">
                <label for="appGroup">所属分组
                    <span class="text-danger" *ngIf="(editSvc.userGroups|async)?.errors?.required">*</span>
                    <span class="text-danger" *ngIf="(editSvc.userGroups|async)?.errors?.minlength">(长度大于1)</span>
                </label>
                <select id="appGroup" name="appGroup" class="form-control" formControlName="userGroups">
                    <option *ngFor="let g of (svc.userGroups|async)" [value]="g.id">{{g.name}}</option>
                </select>
            </div>
            <div *ngFor="let v of (editSvc.app|async)?.vars" class="col-lg-6 col-md-6 form-group mb-4">
                <label for="var_{{v.name}}">{{v.description}}
                    <span class="text-danger" *ngIf="(editSvc.appForm|async).get('var_'+v.name)?.invalid">(长度0至128)</span>
                </label>
                <div class="input-group">
                    <div class="input-group-prepend"  *ngIf="v.inputAddon.length > 0">
                        <span class="input-group-text">{{v.inputAddon}}</span>
                    </div>
                    <input [type]="v.inputType" id="var_{{v.name}}" formControlName="var_{{v.name}}" class="form-control" [placeholder]="v.isPort?'保存时自动分配':''">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 form-group mb-4">
                <label for="inputJmx">JMX 监控</label>
                <div class="pt-2" id="inputJmx">
                    <label for="enableJmx" class="form-check-label">允许系统监控应用</label>
                    <input type="checkbox" id="enableJmx" formControlName="enableJmx" class="form-check-input ml-2"/>
                </div>
            </div>
        </div>

        <div class="row form-group mb-4">
            <div class="col-lg-12 col-md-12 form-group">
                <label for="description">应用描述
                    <span class="text-danger" *ngIf="(editSvc.description|async)?.errors?.required">*</span>
                    <span class="text-danger" *ngIf="(editSvc.description|async)?.errors?.minlength || (editSvc.description|async)?.errors?.maxlength">(长度5至256)</span>
                </label>
                <textarea id="description" class="form-control" rows="3" formControlName="description"></textarea>
            </div>
        </div>


        <div class="row form-group">
            <div class="col-lg-12 col-md-12 form-group text-right">
                <button type="button" class="btn btn-outline-secondary mr-3" (click)="cancel()">取消</button>
                <button type="submit" class="btn btn-danger" [disabled]="(editSvc.appForm|async).invalid || (editSvc.appForm|async).pristine || (account.perm('应用:修改') | async)">保存</button>
            </div>
        </div>
    </form>
</div>