<div id="app-contain" class="container-xl mt-3">
    <div id="app-head" class="mb-5">
        <h1>{{(app|async)?.apptag}} - {{(app|async)?.description}}</h1>
    </div>
    <div id="group-list">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto">
                    </div>
                    <button type="button" class="btn btn-success" 
                        [disabled]="account.perm('应用:修改') | async"
                        (click)="onNewVersionBtnClick()">新增版本
                    </button>
                </div>
            </li>
            <li *ngFor="let v of (app|async)?.versions" class="list-group-item py-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="mr-auto pt-2">
                                <strong>版本: {{v.name}}</strong>
                            </div>
                            <div class="pl-1">
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    [disabled]="account.perm('应用:修改') | async"
                                    (click)="onEditBtnClick()">添加主机</button>
                            </div>
                            <div class="pl-1">
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    [disabled]="account.perm('应用:修改') | async"
                                    (click)="onDelBtnClick()">删除</button>
                            </div>
                            <div class="pl-1">
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    [disabled]="account.perm('应用:修改') | async"
                                    (click)="onEditBtnClick()">修改</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                    <div class="col-sm-2">内网IP</div>
                                    <div class="col">描述</div>
                                    <div class="col-sm-2">状态</div>
                                    <div class="col-sm-2 text-right"><input type="checkbox"></div>
                            </div>
                        </li>
                        <li *ngFor="let h of v.targetHosts" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">{{h.privateIp}}</div>
                                <div class="col">{{h.description}}</div>
                                <div class="col-sm-2">online</div>
                                <div class="col-sm-2 text-right"><input type="checkbox"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>