<div id="app-contain" class="container-xl mt-3">
    <div id="app-head" class="mb-5">
        <h1>{{app?.apptag}} - {{app?.description}}</h1>
    </div>
    <div id="group-list" [formGroup]="hostChecked">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto">
                    </div>
                </div>
            </li>
            <li *ngFor="let v of app?.versions" class="list-group-item py-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="mr-auto pt-2">
                                <strong>版本: {{v.name}}</strong>
                            </div>

                            <!-- <div class="dropdown pl-1">
                                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                                        [disabled]="account.perm('应用:部署') | async">
                                    其他操作
                                </button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button" [disabled]="account.perm('应用:部署') | async">安装</button>
                                    <button class="dropdown-item" type="button" [disabled]="account.perm('应用:部署') | async">配置</button>
                                    <button class="dropdown-item" type="button" [disabled]="account.perm('应用:部署') | async">停止</button>
                                    <button class="dropdown-item" type="button" [disabled]="account.perm('应用:部署') | async">重启</button>
                                    <button class="dropdown-item" type="button" [disabled]="account.perm('应用:部署') | async">启动</button>
                                </div>
                            </div> -->

                            <div class="pl-1" *ngFor="let op of operations">
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                        [disabled]="(account.perm('应用:部署') | async) || !hasHostChecked(v)"
                                        (click)="onOperationClick(v, op)">
                                    {{op.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mr-2">
                            <div class="row">
                                    <div class="col-sm-2">内网IP</div>
                                    <div class="col">描述</div>
                                    <div class="col-sm-2">状态</div>
                                    <div class="col-sm-2 text-right">
                                        <input type="checkbox" formControlName="{{selectAllName(v)}}" title="全选">
                                    </div>
                            </div>
                        </li>
                        <li *ngFor="let h of v.targetHosts" class="list-group-item mr-2">
                            <div class="row">
                                <div class="col-sm-2">{{h.privateIp}}</div>
                                <div class="col">{{h.description}}</div>
                                <div class="col-sm-2">online</div>
                                <div class="col-sm-2 text-right"><input type="checkbox" formControlName="{{checkName(v,h)}}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
