<div id="app-contain" class="container-xl mt-3">
    <div id="app-head" class="mb-5">
        <h1>{{app?.apptag}} - {{app?.description}}</h1>
    </div>
    <div id="group-list" [formGroup]="hostChecked">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto">
                    </div>
                </div>
            </li>
            <li *ngFor="let v of app?.versions" class="list-group-item py-4">
                <div class="card">
                    <div class="card-header">
                        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="pt-2">
                                <strong>版本: {{v.name}}</strong>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" [title] = "hasHostChecked(v)?'':'请选择要操作的目标主机'">
                                <button type="button" class="btn btn-outline-danger"
                                    *ngFor="let op of operations"
                                    [disabled]="(account.perm('应用:部署') | async) || !hasHostChecked(v)"
                                    (click)="onOperationClick(v, op)">
                                    {{op.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mr-2">
                            <div class="row">
                                    <div class="col-sm-2">内网IP</div>
                                    <div class="col">描述</div>
                                    <div class="col-sm-2">状态</div>
                                    <div class="col-sm-2 text-right">
                                        <input type="checkbox" formControlName="{{selectAllName(v)}}" title="全选">
                                    </div>
                            </div>
                        </li>
                        <li *ngFor="let h of v.targetHosts" class="list-group-item mr-2">
                            <div class="row">
                                <div class="col-sm-2">{{h.privateIp}}</div>
                                <div class="col">{{h.description}}</div>
                                <div class="col-sm-2">online</div>
                                <div class="col-sm-2 text-right"><input type="checkbox" formControlName="{{checkName(v,h)}}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
