<app-navbar></app-navbar>

<div class="container-xl mt-3">
    <div class="ml-3 mb-5">
        <h2>主机管理</h2>
    </div>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto">
                        <form (submit)="search($event)" [formGroup]="searchForm">
                            <div class="d-flex">
                                <div><input type="text" class="form-control" id="searchPrefix"
                                        formControlName="searchPrefix"></div>
                                <div><button type="submit" class="btn btn-info form-control ml-2">搜索</button></div>
                            </div>
                        </form>
                    </div>
                    <button type="button" class="btn btn-success" (click)="newHost()"
                        [disabled]="account.perm('组管理:修改')">新增主机
                    </button>
                </div>
            </li>
            <li *ngFor="let h of hostList;index as i;" class="list-group-item">
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <strong>{{h.privateIp}}</strong><span [hidden]="h.enabled" class="text-danger"> (已禁用)</span>
                        <p>{{h.description}}</p>
                    </div>
                    <div class="p-1 mt-1">
                            <button type="button" class="btn btn-sm"
                                [class.btn-outline-danger]="h.enabled"
                                [class.btn-outline-info]="!h.enabled"
                                [disabled]="account.perm('组管理:修改')"
                                (click)="switchStatus(h)">{{h.enabled?'禁用':'启用'}}
                            </button>
                        </div>
                    <div class="p-1 mt-1">
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                            [disabled]="account.perm('组管理:修改')"
                            (click)="editHost(h)">编辑
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>