<div id="groups-contain" class="container-xl mt-3">
    <div id="group-head" class="d-flex mb-4">
        <div class="mr-auto">
            <h1>编辑[{{appType?.name}}]操作脚本</h1>
        </div>
    </div>
    <form (ngSubmit)="save()" [formGroup]="editForm">
        <div class="row">
            <div class="col-lg-4 form-group mb-4">
                <label for="name">操作名称
                    <span class="text-danger" *ngIf="name.errors?.required">*</span>
                    <span class="text-danger"
                        *ngIf="name.errors?.minlength || name.errors?.maxlength">(长度2至16)</span>
                </label>
                <input type="text" id="name" formControlName="name" class="form-control"
                    placeholder="请尽量简短明确，因为它将显示在操作按钮上">
            </div>
        </div>
        <div class="mb-4">
            <div class="form-group">
                <label for="description">操作说明
                    <span class="text-danger" *ngIf="desc.errors?.required">*</span>
                    <span class="text-danger" *ngIf="desc.errors?.minlength || desc?.errors?.maxlength">(长度6至512)</span>
                </label>
                <input type="text" id="description" class="form-control" formControlName="description">
            </div>
        </div>
        <div class="mb-4">
            <div class="form-group">
                <label for="playbook">Ansible操作脚本
                    <span class="text-danger" *ngIf="playbook.errors?.required">*</span>
                    <span class="text-danger" *ngIf="playbook.errors?.minlength || playbook?.errors?.maxlength">(长度小于65535)</span>
                </label>
                <textarea id="playbook" class="form-control" rows="19" formControlName="playbook"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-outline-secondary mr-2" (click)="cancel()">取消</button>
                <button type="submit" class="btn btn-danger mr-2"
                    [disabled]="editForm.invalid || editForm.pristine || (account.perm('应用:修改') | async)">保存</button>
            </div>
        </div>
    </form>
</div>
<script>
    $jQuery.each($("textarea"), function(i, n){
        $(n).css("height", n.scrollHeight + "px");
    })
</script>