<ng-template #formInfoIcon>
    <svg width="18" height="18" viewBox="0 0 18 18" class="bi bi-question-circle" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
            d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
    </svg>
</ng-template>

<ng-template #deleteIcon>
    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
        <path fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
    </svg>
</ng-template>

<ng-template #editIcon>
    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
</ng-template>

<div id="groups-contain" class="container-xl mt-3">
    <div id="group-head" class="d-flex mb-4">
        <div class="mr-auto">
            <h1>应用类型</h1>
        </div>
    </div>
    <form (ngSubmit)="save()" [formGroup]="typeForm">
        <div class="row">
            <div class="col-lg-4 form-group mb-4">
                <label for="name">类型名称
                    <span class="text-danger" *ngIf="name.errors?.required">*</span>
                    <span class="text-danger"
                        *ngIf="name.errors?.maxlength">(长度小于32)</span>
                </label>
                <input type="text" id="name" formControlName="name" class="form-control">
            </div>
            <div class="col-lg-8 form-group mb-4">
                <label for="description">类型描述
                    <span class="text-danger" *ngIf="description.errors?.required">*</span>
                    <span class="text-danger" *ngIf="description.errors?.maxlength">(长度小于128)</span>
                </label>
                <input type="text" id="description" formControlName="description" class="form-control">
            </div>
        </div>

        <div class="mb-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="mr-auto pt-1">
                            应用变量定义
                        </div>
                        <div class="pl-1">
                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                [disabled]="account.perm('操作管理:修改') | async">添加</button>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">变量名</div>
                            <div class="col-sm-3">表单标签</div>
                            <div class="col">输入控件前缀</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">domain</div>
                            <div class="col-sm-3">Tomcat域名</div>
                            <div class="col">http://your_app_domain/</div>
                            <div class="col-sm-2 text-right">
                                <a class="link text-danger" title="删除">
                                    <ng-container *ngTemplateOutlet="deleteIcon"></ng-container>
                                </a>
                                <a class="link text-dark ml-3" title="修改">
                                    <ng-container *ngTemplateOutlet="editIcon"></ng-container>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-outline-secondary mr-2" [routerLink]="['/app-types']">取消</button>
                <button type="submit" class="btn btn-danger mr-2"
                    [disabled]="typeForm.invalid || typeForm.pristine || (account.perm('操作管理:修改') | async)"
                    >保存</button>
            </div>
        </div>
    </form>
</div>