<div class="row">
  <div class="col-lg-4 col-md-2"></div>
  <div class="col-lg-4 col-md-8">
    <div class="card">
      <div class="card-header">
        <h3>欢迎使用
          <a href="https://github.com/arksea/ansible-deploy" target="_blank">
              AnsibleDeploy
          </a>
        </h3>
      </div>
      <div class="card-body">
        <form (submit)="login($event)" [formGroup]="loginForm">
          <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" formControlName="username">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <button type="submit" class="btn btn-primary form-control btn-top" [disabled]="!loginForm.valid">登录</button>
          <a class="link form-control" [routerLink]="['/signup']">注册新用户</a>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-2"></div>
</div>
