<div class="row login-form">
  <div class="col-lg-4 col-md-2"></div>
  <div class="col-lg-4 col-md-8">
    <div class="card">
      <div class="card-header">注册 AnsibleDeploy 新用户</div>
      <div class="card-body">
        <form (submit)="signup($event)" [formGroup]="signUpForm">
          <div class="form-group">
            <label for="name">用户名</label>
            <input class="form-control" type="text" id="name" formControlName="username">
          </div>
          <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <div class="form-group">
            <label for="password2">密码确认</label>
            <input type="password" class="form-control" id="password2" formControlName="password2">
          </div>
          <button type="submit" class="btn btn-primary form-control btn-top" [disabled]="!signUpForm.valid">注册</button>
          <a class="link form-control" [routerLink]="['/login']">用现有账号登录</a>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-2"></div>
</div>