<app-navbar></app-navbar>

<div class="container-xl mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">用户管理</li>
        </ol>
    </nav>
    <div id="group-list">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto">
                        <form (submit)="search($event)" [formGroup]="searchForm">
                            <div class="d-flex">
                                <div><input type="text" class="form-control" id="searchPrefix"
                                        formControlName="searchPrefix"></div>
                                <div><button type="submit" class="btn btn-info form-control ml-2">搜索</button></div>
                            </div>
                        </form>
                    </div>

                    <div class="btn-group pr-4" role="group">
                        <button type="button" class="btn btn-light" routerLinkActive="active" [routerLink]="['/users/active']">活跃的账号</button>
                        <button type="button" class="btn btn-light" routerLinkActive="active" [routerLink]="['/users/blocked']">禁用的账号</button>
                    </div>
        
                    <button type="button" class="btn btn-success" 
                        [disabled]="account.perm('用户管理:修改')"
                        (click)="newUser()">新建用户
                    </button>
                </div>
            </li>
            <li *ngFor="let u of userList;index as i;" class="list-group-item">
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <strong>{{u.name}}</strong>
                        <p>{{u.email}}</p>
                    </div>
                    <div class="p-1">
                        <button type="button" [hidden]="hiddenUnblockBtn()" 
                            [disabled]="account.perm('用户管理:修改')"
                            class="btn btn-outline-info btn-sm"
                            (click)="this.onUnblockBtnClick(u)">启用</button>
                    </div>
                    <div class="p-1">
                        <button type="button" class="btn btn-outline-danger btn-sm"
                            [disabled]="account.perm('用户管理:修改')"
                            (click)="onDelBtnClick(u)">{{getDelBtnLabel()}}</button>
                    </div>
                    <div class="p-1">
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                            [disabled]="account.perm('用户管理:查询')">编辑
                        </button>
                    </div>
                    <div class="p-1">
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                            [disabled]="account.perm('用户管理:查询')"
                            (click)="onUserRolesBtnClick(u)">角色
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>