<app-navbar></app-navbar>

<div id="groups-contain" class="container-xl mt-3">
    <div id="group-head" class="m-3">
        <h1>用户管理</h1>
        <div class="mr-auto">提供用户管理功能：添加、禁用、删除、授权等</div>
    </div>
    <div id="group-list">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto">
                        <form (submit)="search($event)" [formGroup]="searchForm">
                            <div class="d-flex">
                                <div><input type="text" class="form-control" id="searchPrefix"
                                        formControlName="searchPrefix"></div>
                                <div><button type="submit" class="btn btn-info form-control ml-2">搜索</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="pr-4">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/active']">活跃的账号</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active"
                                    [routerLink]="['/users/blocked']">禁用的账号</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pr-2 dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{(svc.selectedSortType | async).desc}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let c of svc.sortTypes" class="dropdown-item"
                                (click)="svc.setSortType(c)">{{c.desc}}</a>
                        </div>
                    </div>
                    <div [hidden]="account.perm('用户管理:修改') | async">
                        <button type="button" class="btn btn-success" (click)="newUser()">新建用户</button>
                    </div>
                </div>
            </li>
            <li *ngFor="let u of svc.userList | async;index as i;" class="list-group-item">
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <strong>{{u.name}}</strong>
                        <p>{{u.email}}</p>
                    </div>
                    <div class="p-1" [hidden]="account.perm('用户管理:修改') | async">
                        <button type="button" class="btn btn-outline-secondary btn-sm">编辑</button>
                    </div>
                    <div class="p-1" [hidden]="account.perm('用户管理:修改') | async">
                        <button type="button" [hidden]="hiddenUnblockBtn()" class="btn btn-warning btn-sm"
                            (click)="this.onUnblockBtnClick(u)">启用</button>
                    </div>
                    <div class="p-1" [hidden]="account.perm('用户管理:修改') | async">
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="onDelBtnClick(u)">{{getDelBtnLabel()}}</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>