<app-navbar></app-navbar>

<div id="groups-contain" class="container-xl mt-3">
    <div id="group-head" class="ml-3 mb-5">
        <h1>用户管理</h1>
    </div>
    <div id="group-list">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto">
                        <form (submit)="search($event)" [formGroup]="searchForm">
                            <div class="d-flex">
                                <div><input type="text" class="form-control" id="searchPrefix"
                                        formControlName="searchPrefix"></div>
                                <div><button type="submit" class="btn btn-info form-control ml-2">搜索</button></div>
                            </div>
                        </form>
                    </div>

                    <div class="btn-group pr-4" role="group">
                        <button type="button" class="btn btn-light" routerLinkActive="active" [routerLink]="['/users/active']">活跃的账号</button>
                        <button type="button" class="btn btn-light" routerLinkActive="active" [routerLink]="['/users/blocked']">禁用的账号</button>
                    </div>

                    <div class="pr-2 dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{(svc.selectedSortType | async).desc}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let c of svc.sortTypes" class="dropdown-item"
                                (click)="svc.setSortType(c)">{{c.desc}}</a>
                        </div>
                    </div>                    
                    <button type="button" class="btn btn-success" 
                        [disabled]="account.perm('用户管理:修改') | async"
                        (click)="newUser()">新建用户
                    </button>
                </div>
            </li>
            <li *ngFor="let u of svc.userList | async;index as i;" class="list-group-item">
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <strong>{{u.name}}</strong>
                        <p>{{u.email}}</p>
                    </div>
                    <div class="p-1">
                        <button type="button" [hidden]="hiddenUnblockBtn()" 
                            [disabled]="account.perm('用户管理:修改') | async"
                            class="btn btn-outline-info btn-sm"
                            (click)="this.onUnblockBtnClick(u)">启用</button>
                    </div>
                    <div class="p-1">
                        <button type="button" class="btn btn-outline-danger btn-sm"
                            [disabled]="account.perm('用户管理:修改') | async"
                            (click)="onDelBtnClick(u)">{{getDelBtnLabel()}}</button>
                    </div>
                    <div class="p-1">
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                            [disabled]="account.perm('用户管理:查询') | async">编辑
                        </button>
                    </div>
                    <div class="p-1">
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                            [disabled]="account.perm('用户管理:查询') | async"
                            (click)="onUserRolesBtnClick(u)">角色
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>