<form [formGroup]="form">
    <div class="modal-header ml-3">
        <h2 class="modal-title">端口类型配置</h2>
    </div>
    <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" formGroupName="formNew">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="port-type-name">类型名称</label>
                        <input id="port-type-name" type="text" class="form-control" formControlName="newTypeName">
                    </div>
                    <div class="form-group col">
                        <label for="port-type-desc">用途描述</label>
                        <input id="port-type-desc" type="text" class="form-control" formControlName="newTypeDesc">
                    </div>
                    <div class="form-group col-sm-2 text-center mt-3 pt-3">
                        <button class="btn btn-sm btn-success" 
                            [disabled]="formNew.invalid"
                            (click)="onAddBtnClick()">添加</button>
                    </div>
                </div>
            </li>
            <li class="list-group-item" *ngFor="let t of portTypes" formGroupName="formModify">
                <div class="row ml-1" *ngIf="modifing?.name!=t.name">
                    <div class="col-sm-4 mt-1"  (click)="startModify(t)">
                        {{t.name}}
                    </div>
                    <div class="col mt-1"  (click)="startModify(t)">
                        {{t.description}}
                    </div>
                    <div class="col-sm-2 text-center"
                        [title]="t.stat.allCount == t.stat.restCount?'删除':'不能删除，因为有端口在使用中'">
                        <button class="btn btn-sm text-danger"
                                [class]="t.stat.allCount == t.stat.restCount?'text-danger':'text-dark'"
                                [disabled]="t.stat.allCount != t.stat.restCount"
                                (click)="onDeleteBtnClick(t)">
                            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-trash"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row" *ngIf="modifing?.name==t.name">
                    <div class="form-group col-sm-4 mt-2">
                        <input type="text" class="form-control" formControlName="modifyTypeName">
                    </div>
                    <div class="form-group col mt-2">
                        <input type="text" class="form-control" formControlName="modifyTypeDesc">
                    </div>
                    <div class="col-sm-2 text-left mt-2 pt-1">
                        <button class="btn btn-sm text-dark" title="取消" (click)="cancelModify()">
                            <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                        <button class="btn btn-sm text-danger" title="修改" 
                            (click)="acceptModify()"
                            [disabled]="formModify.invalid || formModify.pristine">
                            <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-check"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="mt-3 mr-5 mb-3">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">取消</button>
            <button type="submit" class="btn btn-danger ml-2" (click)="save()"
                [disabled]="!modified || account.perm('端口管理:修改')">保存</button>
        </div>
    </div>
</form>