<app-navbar></app-navbar>

<div class="container-xl mt-3">
    <div class="ml-3 mb-5">
        <h2>端口管理</h2>
    </div>

    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="mr-auto mt-2">
                        <span *ngFor="let t of svc.portTypes" class="badge badge-secondary mr-2 p-2"
                              title="总数：{{t.stat?t.stat.allCount:0}} 个，剩余：{{t.stat?t.stat.restCount:0}} 个">
                            {{t.name}} {{t.stat?t.stat.restCount:0}}
                        </span>
                    </div>
                    <button type="button" class="btn btn-success" (click)="newSection()"
                        [disabled]="account.perm('端口管理:修改') | async">分配区间
                    </button>
                </div>
            </li>
            <li *ngFor="let s of svc.sectionList | async;index as i;" class="list-group-item">
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <strong>{{s.type.name}} : </strong> <span>{{s.minValue}} ~ {{s.maxValue}}</span>
                        <p>{{s.type.description}}</p>
                    </div>
                    <div class="p-1 mt-1">
                            <button type="button" class="btn btn-outline-danger btn-sm"
                                [disabled]="account.perm('端口管理:修改') | async"
                                (click)="deleteSection(s)">删除
                            </button>
                        </div>
                    <div class="p-1 mt-1">
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                            [disabled]="account.perm('端口管理:修改') | async"
                            (click)="editSection(s)">修改
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>