<?xml version='1.0' encoding='utf-8'?>
<Server port="{{ server_port }}" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <Service name="Catalina">
    <Connector port="{{ http_port }}" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="{{ https_port }}" />
    <Connector port="{{ ajp_port }}" protocol="AJP/1.3" redirectPort="{{ https_port }}" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="webapps/{{apptag}}" unpackWARs="false" autoDeploy="false">
        <Context path="" docBase=""  reloadable="true" caseSensitive="false" debug="0"></Context>
      </Host>
    </Engine>
  </Service>
</Server>
