<div class="d-flex border-bottom">
    <div class="mr-auto">
        <h2>{{group?.name}}</h2>
    </div>
    <div class="mr-4 mb-3">
        <div class="input-group">
            <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" #apptag
                [ngbTypeahead]="search" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"
                    [disabled]="account.perm('组管理:修改') || apptag.value == ''"
                    (click)="addApp(apptag.value)">添加</button>
            </div>
        </div>
    </div>
</div>
<div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let a of group?.apps;index as i;" class="list-group-item">
            <div class="d-flex">
                <div class="mr-auto">
                    <strong>{{a.apptag}}</strong>
                    <p>{{a.description}}</p>
                </div>
                <div class="p-1">
                    <button type="button" class="btn btn-outline-secondary btn-sm"
                        [disabled]="account.perm('组管理:修改')"
                        (click)="removeApp(a)">移除
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>
